[submodule "cairo-lang"]
	path = cairo-lang
	url = https://github.com/Okm165/cairo-lang.git
	branch = v0.12.0_stone_proof_recursive_layout
[submodule "stone-prover"]
	path = stone-prover
	url = https://github.com/Okm165/stone-prover.git
	branch = cairo0_recursive
